<div id="burgerlist">
    <h2 class="headings">Burgers to Eat:</h2>
    <ul>
        {{#each burgers  }}
        <h3>{{this.burger_name}} Burger</h3>
        <form action="/eat" method="POST">
            <button type="submit">Eat This Burger!</button>
        </form>
        {{/each}}
    </ul>
</div>

<div id="eatenburgers">
    <h2 class="headings">Burgers I've Eaten:</h2>
    <ul>
        {{#each burgers  }}
        {{#if this.devoured}}
        <h4> Name: {{this.burger_name}} </h4>
        {{/if}}
        {{/each}}

    </ul>
</div>

<div id="addburger">
    <h2 class="headings">Add a Burger!</h2>
    <form id="appbottom" action="/" method="POST">
        <input name="burgerName" type="text">
        <button type="submit">Submit</button>
    </form>
</div>